<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!----フォントを読み込む-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <title>備忘録</title>
    </head>
    <body>
         <header>
          <div class="container">
            <h1>備忘録</h1><!--画像かも-->
           </div>
         </header>
            <nav>
                <ul class="nav-title">
                    <li>ホーム</li>
                    <li>学習記録</li>
                    <li>私生活</li>
                    <li>趣味</li>
                </ul>
            </nav>

    <div class="container">
         <main>
            <div class="text-wrapper">
                <div class="text-title">
                    <% article.id %>
                    <h2><%= article.title %></h2>
                    <p>2022年6月30日</p>
                </div>
                    
                <p><%= article.main %>
                </p>
            </div>
            
            <div>←前</div>
            <div>次→</div>

         </main>

         <div class="side-menu">
            <div class="introduce-wrapper">
                    <img class="icon-image"src="../images/彩雲サイト用.jpg">
                    <img  class="icon-me" src="../images/top_copy.png" >
                    <p>新卒23才です<br>よろしくです</p>
                <div class="sns-group">
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </div>
            </div>

          <div class="question-form">
              <p class="btn">お問い合わせ・ご依頼</p>
              <p class="btn">応援メッセージ</p>
          </div>
         </div>

        </div>

         <footer>
             <div class="container">
                 <div class="footer-copyright">
                    <div>©yamshita</div>
                    <div>202206</div>
                 </div>
            </div>
         </footer>

    </body>
</html>