<html lang="ja">
    <head>
        <!----ログインサイト---->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!----フォントを読み込む-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <title>備忘録</title>
    </head>
    <body>
         <header>
          <div class="container">
            <h1>備忘録</h1><!--画像かも-->
           </div>
         </header>
            <nav>
                <ul class="nav-title">
                    <li>ホーム</li>
                    <li>学習記録</li>
                    <li>趣味</li>
                    <li>雑談</li>
                </ul>
            </nav>

    <div class="container">
             <div class="login-wrapper">

                <div class="login-form">
                    <h2>ログイン</h2>
                    <p>メールアドレス</p>
                    <input type="text" class="email text-form">
                    <p>パスワード</p>
                    <input type="text" class="password text-form">
                    <input type="submit" value="ログイン" class="login-btn"> 
                </div>
                
             </div>
        </div>

         <footer>
             <div class="container">
                 <div class="footer-copyright">
                    <div>©yamshita</div>
                    <div>202206</div>
                 </div>
            </div>
         </footer>

    </body>
</html>